:root {
  --bg-color: #0f0f10;
  --text-color: #fff;
  --btn-text: black;
  --btn-border: #fff;
  --btn-primary: #fff;
  --btn-search-primary: #b8b7b7;
  --input-primary: #242424;
  --input-border: #fff;
  --drop-shadow: rgba(255, 255, 255, 0.3);
  --card-background: #2a2a2a;
  --bg-color-profile: #121212;
  --border-profile: rgba(241, 241, 241, 0.16);
  --progress-bar: rgba(255, 85, 0, 0.08);
  --table-bg: rgb(36, 36, 36);
  --map-label-bg: rgb(27, 27, 27);
  --pick-container-bg: #1d1d1d;
  --skeleton-bg: #11111174;
}

[data-theme="light"] {
  --bg-color: #fff;
  --text-color: black;
  --btn-text: #fff;
  --btn-border: #060505;
  --btn-primary: #121111;
  --btn-search-primary: #121111;
  --input-primary: #b8b7b7;
  --input-border: #121111;
  --drop-shadow: rgba(0, 0, 0, 0.3);
  --card-background: black; // поменять потом
  --bg-color-profile: #fff;
  --border-profile: rgba(0, 0, 0, 0.35);
  --progress-bar: rgba(0, 0, 0);
  --table-bg: rgb(231, 231, 231);
  --map-label-bg: rgb(226, 226, 226);
  --pick-container-bg: #eeeded;
  --skeleton-bg: #a2a2a274;
}

#root,
body,
html {
  font-family: "Play", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: 0.3s;
}
