.avatar {
  border: 1px solid var(--btn-border);
  border-radius: 50%;

  .avatarPhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.sm {
  width: 100px;
  height: 100px;
}

.md {
  width: 120px;
  height: 120px;
}

.lg {
  width: 150px;
  height: 150px;
}
