.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 0 35px;
  color: var(--text-color);
  height: 5rem;
  box-shadow: 0 2px rgb(0, 0, 0, 0.2);
  transition: 0.3s;

  img {
    width: 200px;
    height: 90px;
    cursor: pointer;
  }
}
