.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f10;
  padding: 0 35px;
  color: #fff;
  height: 5rem;
  box-shadow: 0 2px rgb(0, 0, 0, 0.2);

  img {
    width: 200px;
    height: 90px;
    cursor: pointer;
  }
}
