.mapStatsTable {
  font-size: 14px;
  font-weight: 700;
  background-color: var(--bg-color);
  border: 1px solid var(--btn-border);
  border-collapse: collapse;
  cursor: pointer;
}

.mapRow:nth-child(2n) {
  background-color: var(--table-bg);
  transition: 0.3s;

  &:hover {
    color: #fff;
    background-color: var(--card-background);
  }
}

.mapCell {
  padding: 10px;
}

.mapHeadNames {
  text-align: start;
  color: gray;
  transition: 0.3s;

  &:hover {
    color: var(--text-color);
  }
}

.mapStatsInfo {
  text-transform: uppercase;
  text-align: start;
}

.mostPlayedMaps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 32px;
  margin-bottom: 30px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .tableWrapper {
    width: 100%;
    overflow-x: auto;
  }
  .mostPlayedMaps {
    flex-direction: column;
    gap: 25px;
  }
}
