.searchForm {
  width: 750px;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 750px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.errorMessage {
  color: rgba(255, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 700;
}

.error {
  border: 1px solid rgba(255, 0, 0, 0.6);

  &:focus {
    border: 1px solid rgba(255, 0, 0, 0.6);
  }
}
