.matchGridSection {
  width: 100%;
  max-width: 1440px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  place-items: center;
  gap: 15px;
}

@media (max-width: 1400px) {
  .matchGridSection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 920px) {
  .matchGridSection {
    grid-template-columns: repeat(1, 1fr);
  }
}
