.progressBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .textProgress {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    transform: translateY(-15px);
  }

  .eloForLevel {
    font-weight: 400;
    color: gray;
  }
}

.progressBar {
  width: 100%;
  height: 20px;
  transform: translateY(-15px);

  &::-webkit-meter-bar {
    background: var(--progress-bar);
  }

  &::-webkit-meter-optimum-value {
    background: orangered;
  }
}

.maxLevelText {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
