.skillLevelContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid var(--btn-border);
  width: 290px;
  height: 288px;

  .skillLevelTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  img {
    width: 60px;
    height: 60px;
  }
}
