.matchStatsSection {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backButton {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 40px;
}
