.playerStatsSection {
  max-width: 1440px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

.statsCardsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.skillLevelSection {
  display: flex;
  gap: 25px;
  margin-bottom: 45px;
}

.skillLevelSectionTitle {
  margin-top: 60px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.mapStatsSection {
  display: flex;
  align-items: start;
  flex-direction: column;

  .mapStatsTitle {
    @extend h1;
  }
}
