.playerStatsSection {
  max-width: 1440px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

.statsCardsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
