.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .matchModeInfo {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}

.matchStatusInfo {
  width: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .matchStatus {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .lobbyName {
    @extend .matchStatus;
    text-align: center;
    width: 180px;
  }

  .matchBestOfInfo {
    font-size: 12px;
    font-weight: 700;
    color: gray;
  }
}
