.rosterSkeleton {
  width: 480px;
  height: auto;
  background: var(--skeleton-bg);
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  animation: load 1.5s infinite ease-in-out;
}

.rosterSkeletonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rosterSkeletonPlayerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rosterSkeletonAvatar {
  background: gray;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.nickname {
  background: gray;
  width: 120px;
  height: 10px;
  margin-bottom: 10px;
}

.steamNickname {
  background: gray;
  width: 50px;
  height: 10px;
}

.playerLevel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .playerElo {
    width: 70px;
    height: 10px;
    background: gray;
  }

  .playerRank {
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
  }
}

@keyframes load {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
