.pickContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pickText {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.pickInformation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--pick-container-bg);
  box-shadow: -1px 3px 15px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;

  img {
    width: 80px;
    height: 44px;
    border-radius: 8px;
  }

  .pickTitle {
    width: 252px;
    font-size: 16px;
    font-weight: 700;
  }
}
