.rosterCard {
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--btn-border);
  border-radius: 10px;
  padding: 15px;
  color: var(--text-color);
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: #fff;
    background: var(--card-background);
  }
}

.playerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.playerNickname {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .nicknameContainer {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    .faceitNickname {
      min-width: 155px;
      display: flex;
      align-items: center;
      gap: 7px;
    }

    .nickname {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }

    .steamNickname {
      width: 116px;
      font-size: 12px;
      font-weight: 700;
      color: gray;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.playerTop {
  display: flex;
  justify-content: center;
  align-items: center;

  .rankImage {
    width: 40px;
  }
}

.playerElo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px;

  .eloValue {
    color: gray;
    font-size: 14px;
    font-weight: 700;
  }
}
