.rankIcon {
  width: 30px;
  height: 30px;
  fill: rgb(232, 1, 40);
}

.top1 {
  background: #ffd336;
  .rankIcon {
    fill: #ffd336;
  }
}

.top2 {
  background: #def5ff;
  .rankIcon {
    fill: #def5ff;
  }
}

.top3 {
  background: #ff7236;
  .rankIcon {
    fill: #ff7236;
  }
}
