.matchInfoSection {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.teamsInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.matchRoster {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
}

.factionFirstRoster {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.factionSecondRoster {
  @extend .factionFirstRoster;
}

@media (max-width: 1205px) {
  .matchRoster {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}

@media (max-width: 760px) {
  .teamsInfo {
    flex-direction: column;
  }
}
